{% import "lib.sls" as lib -%}
{%- set media_dir = '/mnt/media' %}
version: "3.3"
services:
  {# homeassistant:
    environment:
      - TZ=America/New_York
    volumes:
      - "/data/hass:/config"
    ports:
      - "8123:8123"
    image: "homeassistant/raspberrypi3-homeassistant:stable" #}
  cadvisor:
    {# for arm to work: #}
    image: zcube/cadvisor:latest 
    container_name: cadvisor
    ports:
      - "{{lib.get_port('cadvisor')}}:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
  transmission:
    container_name: transmission
    image: haugene/transmission-openvpn:latest-armhf
    cap_add:
      - NET_ADMIN
    devices:
      - "/dev/net/tun"
    restart: always
    ports:
      - "{{lib.get_port('transmission')}}:9091"
      {# - "8888:8888" #}
    dns:
      - 8.8.8.8
      - 8.8.4.4
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{media_dir}}/torrents:/data"
    environment:
      - OPENVPN_PROVIDER=PIA
      {# - OPENVPN_CONFIG=DE Frankfurt #}
      - OPENVPN_USERNAME={{ pillar.get('pia')['username'] }}
      - OPENVPN_PASSWORD={{ pillar.get('pia')['password'] }}
      - OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60
      - LOCAL_NETWORK=10.0.0.0/24
  radarr:
    container_name: radarr
    volumes:
      - {{data_dir}}/radarr/:/config
      - {{media_dir}}/torrents:/data
      - {{media_dir}}/movies:/movies
      - "/etc/localtime:/etc/localtime:ro"
    environment:
      - TZ=America/Los_Angeles
      # - PGID=<gid>
      # - PUID=<uid>
    ports:
      - "{{lib.get_port('radarr')}}:7878"
    depends_on:
      - "transmission"
      - jackett
    image: linuxserver/radarr
  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    environment:
      # - PUID=1001
      # - PGID=1001
      - TZ=America/Los_Angeles
    volumes:
      - {{data_dir}}/sonarr:/config
      - {{media_dir}}/torrents:/data
      - {{media_dir}}/tv:/tv
      - "/etc/localtime:/etc/localtime:ro"
    ports:
      - {{lib.get_port('sonarr')}}:8989
    depends_on:
      - "transmission"
      - jackett
    restart: unless-stopped

  jackett:
    image: linuxserver/jackett
    container_name: jackett
    environment:
      # - PUID=1001
      # - PGID=1001
      - TZ=America/Los_Angeles
    volumes:
      - {{data_dir}}/jackett:/config
      - {{media_dir}}/torrents/watch:/downloads
    ports:
      - {{lib.get_port('jackett')}}:9117
    restart: unless-stopped
  ombi:
    image: linuxserver/ombi
    container_name: ombi
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - {{data_dir}}/ombi:/config
    ports:
      - {{lib.get_port('ombi')}}:3579
    depends_on:
      - radarr
      - sonarr 
    restart: unless-stopped