{% set database = pillar.get('databases')['postgres-main'] %}
version: "3"
services:
  traefik-auth-cloudflare:
    image: akohlbecker/traefik-auth-cloudflare
    restart: always
    container_name: traefik-auth-cloudflare
    # traefik-auth-cloudflare needs to be configured with your auth-domain
    command: ["--auth-domain", "https://nickysemenza.cloudflareaccess.com"]
    ports:
      - "{{pillar.get('ports')['cloudflare_access_forward_auth']}}:80"
  traefik:
    image: traefik:v2.0
    network_mode: host
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /data/compose/traefik.yml:/traefik.yml
      - /data/compose/traefik-http.yml:/http.yml
    depends_on: 
      - "traefik-auth-cloudflare"
  jaeger:
    container_name: jaeger
    environment:
      COLLECTOR_ZIPKIN_HTTP_PORT: 9411
    ports:
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - 5778:5778
      - 16686:16686 # UI
      - 14268:14268
      - 9411:9411
    image: "jaegertracing/all-in-one:1.10"
    labels:
      - "traefik.http.routers.jaeger.rule=Host(`jaeger.infra.nickysemenza.com`)"
      - "traefik.http.services.jaeger.loadbalancer.server.port=16686"
      - "traefik.http.routers.jaeger.middlewares=cloudflare-access@file"
  whoami:
    image: emilevauge/whoami
    labels:
      - "traefik.http.routers.whoami.rule=Host(`whoami.infra.nickysemenza.com`)"
  grafana:
    volumes:
      - /data/compose/grafana/grafana.ini:/etc/grafana/grafana.ini
    image: grafana/grafana:6.3.5
    network_mode: host
    environment:
      GF_INSTALL_PLUGINS: "grafana-clock-panel,grafana-simple-json-datasource,jdbranham-diagram-panel,grafana-piechart-panel"
      GF_SECURITY_ADMIN_PASSWORD: "{{ pillar.get('grafana')['admin-password'] }}"
      GF_DATABASE_TYPE: postgres
      GF_DATABASE_NAME: "{{ grafana_dbname }}"
      GF_DATABASE_HOST: "{{ database['address'] }}"
      GF_DATABASE_USER: "{{ database['user'] }}"
      GF_DATABASE_PASSWORD: "{{ database['password'] }}"
      GF_DATABASE_SSL_MODE: disable
    labels:
      - "traefik.http.routers.grafana.rule=Host(`grafana.nickysemenza.com`)"
      - "traefik.http.services.grafana.loadbalancer.server.port={{pillar.get('ports')['grafana']}}"
      - "traefik.http.routers.grafana.middlewares=cloudflare-access@file"

