{% set host = grains.get('host') %}
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
host: {{ host }}!
message: {{ message }}
kernel: {{ grains.get('kernelversion') }}
os: {{ grains.get('os')}} {{grains.get('osrelease')}} {{ grains.get('oscodename')}} ({{ grains.get('osarch')}})
v4:
{{ grains.get('ipv4') | yaml(false) | indent(2, indentfirst=true) }}
v6: 
{{ grains.get('ipv6') | yaml(false) | indent(2, indentfirst=true) }}
cpu: {{grains.get('cpu_model')}} | {{grains.get('cpuarch')}}
env: {{grains.get('virtual')}}
{%- if host in pillar.get('roles') %}
node roles:
{{ pillar.get('roles')[host] | yaml(false) | indent(2, indentfirst=true) }}
{%- endif %}
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~