{% set host = grains.get('host') %}
{% set port = 1234 %}

{% if host == 'pecan' %}
[Interface]
PrivateKey = {{pillar.wireguard[host].privkey}}
Address = 172.16.0.1/24
PostUp = iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE; sysctl net.ipv4.ip_forward=1
PostDown = iptables -t nat -D POSTROUTING -o etho0 -j MASQUERADE

[Peer]
PublicKey = {{pillar.wireguard['debian-s-1vcpu-1gb-sfo2-01'].pubkey}}
AllowedIPs = 172.16.0.0/24
Endpoint = {{pillar.roles['debian-s-1vcpu-1gb-sfo2-01'].public_ip}}:{{port}}
PersistentKeepalive = 20

{% elif host == 'debian-s-1vcpu-1gb-sfo2-01' %}
[Interface]
PrivateKey = {{pillar.wireguard[host].privkey}}
ListenPort = {{port}}
Address = 172.16.0.2/24

[Peer]
PublicKey =  {{pillar.wireguard['pecan'].pubkey}}
AllowedIPs = 172.16.0.1/32, 10.0.0.0/24
{% endif %}