{% set host = grains.get('host') %}

{% if host == 'pecan' %}
PrivateKey = {{pillar.wireguard[host].privkey}}
Address = 172.16.0.1/24

[Peer]
PublicKey = {{pillar.wireguard['debian-s-1vcpu-1gb-sfo2-01'].pubkey}}
AllowedIPs = 172.16.0.0/24
Endpoint = vpn.nickysemenza.com:1234
PersistentKeepalive = 20

{% elif host == 'debian-s-1vcpu-1gb-sfo2-01' %}
[Interface]
PrivateKey = {{pillar.wireguard[host].privkey}}
ListenPort = 1234
Address = 172.16.0.2/24

[Peer]
PublicKey =  {{pillar.wireguard['pecan'].pubkey}}
AllowedIPs = 172.16.0.1/32, 10.0.0.0/24
{% endif %}