http:
  routers:
    to-grafana-direct:
      rule: "Host(`grafana.infra.nickysemenza.com`)"
      service: grafana-direct
    prometheus:
      rule: "Host(`prometheus.infra.nickysemenza.com`)"
      service: prometheus
    prometheus-home:
      rule: "Host(`prometheus-home.infra.nickysemenza.com`)"
      service: prometheus-home

  services:
    grafana-direct:
      loadBalancer:
        servers:
        - url: http://localhost:3000
    prometheus:
      loadBalancer:
        servers:
        - url: http://localhost:9101
    prometheus-home:
      loadBalancer:
        servers:
        - url: http://{{pillar.roles['pecan'].wg_ip}}:{{pillar.ports['prometheus']}}
