{% import "lib.sls" as lib -%}
global:
  checkNewVersion: true
  sendAnonymousUsage: true
serversTransport:
  insecureSkipVerify: true
providers:
  providersThrottleDuration: 2s
  docker:
    watch: true
    swarmModeRefreshSeconds: 15s
  file:
    filename: "./http.yml"
    watch: true
api:
  insecure: true
metrics:
  prometheus:
    entryPoint: traefik
tracing:
  serviceName: traefik
  jaeger:
    samplingServerURL: http://localhost:5778/sampling
    samplingType: const
    localAgentHostPort: localhost:6831

entrypoints:
  http:
    address: ':80'
  traefik:
    address: ':{{lib.get_port('traefik')}}'

ping: {}